/target/test-classes/com/algaworks/ecommerce/jpql/AbordagemHibridaTest.class
/target/classes/com/algaworks/ecommerce/model/Atributo_.class
/target/test-classes/com/algaworks/ecommerce/criteria/BasicoCriteriaTest.class
/target/test-classes/com/algaworks/ecommerce/jpql/BasicoJPQLTest.class
/target/classes/com/algaworks/ecommerce/model/Categoria_.class
/target/classes/com/algaworks/ecommerce/model/Cliente_.class
/target/test-classes/com/algaworks/ecommerce/jpql/DynamicQueryTest.class
/target/classes/com/algaworks/ecommerce/model/EnderecoEntregaPedido_.class
/target/classes/com/algaworks/ecommerce/model/EntidadeBaseInteger_.class
/target/classes/com/algaworks/ecommerce/model/Estoque_.class
/target/test-classes/com/algaworks/ecommerce/criteria/ExpressoesCondicionaisCriteriaTest.class
/target/test-classes/com/algaworks/ecommerce/jpql/ExpressoesCondicionaisTest.class
/target/test-classes/com/algaworks/ecommerce/criteria/FuncoesCriteriaTest.class
/target/test-classes/com/algaworks/ecommerce/jpql/FuncoesTest.class
/target/test-classes/com/algaworks/ecommerce/criteria/GroupByCriteriaTest.class
/target/test-classes/com/algaworks/ecommerce/jpql/GroupByTest.class
/target/test-classes/produtos/importar.txt
/target/classes/com/algaworks/ecommerce/model/ItemPedido_.class
/target/classes/com/algaworks/ecommerce/model/ItemPedidoId_.class
/target/test-classes/com/algaworks/ecommerce/criteria/JoinCriteriaTest.class
/target/test-classes/com/algaworks/ecommerce/jpql/JoinTest.class
/target/test-classes/com/algaworks/ecommerce/criteria/MetaModelTest.class
/target/test-classes/com/algaworks/ecommerce/jpql/NamedQueryTest.class
/target/classes/com/algaworks/ecommerce/model/NotaFiscal_.class
/target/test-classes/com/algaworks/ecommerce/criteria/OperacoesEmLoteCriteriaTest.class
/target/test-classes/com/algaworks/ecommerce/jpql/OperacoesEmLoteTest.class
/target/test-classes/com/algaworks/ecommerce/criteria/OperadoresLogicosCriteriaTest.class
/target/classes/META-INF/orm.xml
/target/classes/com/algaworks/ecommerce/model/Pagamento_.class
/target/classes/com/algaworks/ecommerce/model/PagamentoBoleto_.class
/target/classes/com/algaworks/ecommerce/model/PagamentoCartao_.class
/target/test-classes/com/algaworks/ecommerce/jpql/PaginacaoJPQLTest.class
/target/test-classes/com/algaworks/ecommerce/criteria/PassandoParametrosCriteriaTest.class
/target/test-classes/com/algaworks/ecommerce/jpql/PassandoParametrosTest.class
/target/test-classes/com/algaworks/ecommerce/criteria/PathExpressionsTest.class
/target/test-classes/com/algaworks/ecommerce/jpql/PathExpressionTest.class
/target/classes/com/algaworks/ecommerce/model/Pedido_.class
/target/classes/META-INF/consultas/pedidos.xml
/target/classes/com/algaworks/ecommerce/model/Produto_.class
/target/classes/com/algaworks/ecommerce/dto/ProdutoDTO.class
/target/classes/META-INF/consultas/produtos.xml
/target/test-classes/com/algaworks/ecommerce/criteria/SubqueriesCriteriaTest.class
/target/*
