<!doctype html>
<html lang="pt-br"
      layout:decorator="~{layout/padrao}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Produto</title>
</head>
<body>

<th:block layout:fragment="conteudo">
    <section class="my-4">
        <div class="container">
            <h2>Cadastro de Produto</h2>
        </div>
    </section>

    <section>
        <div class="container">
            <form accept-charset="UTF-8" method="post" th:action="${#httpServletRequest.getServletPath()}"
                  th:object="${produto}">
                <div class="alert alert-warning alert-dismissible fade show" role="alert"
                     th:if="${#fields.hasAnyErrors()}">
                    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <div th:each="erro: ${#fields.detailedErrors()}">
                        <span th:text="${erro.fieldName + ': ' + erro.message}">
                            Mensagem de validação.</span>
                    </div>
                </div>

                <div class="alert alert-success alert-dismissible fade show" role="alert"
                     th:if="${!#strings.isEmpty(mensagem)}">
                    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <span th:text="${mensagem}">Mensagem de sucesso.</span>
                </div>

                <div class="form-group"
                     th:if="${produto.id}">
                    <label for="id">Código</label>
                    <input class="form-control-plaintext" disabled th:field="*{id}"
                           type="text"/>
                </div>

                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input class="form-control" placeholder="Nome"
                           th:field="*{nome}"
                           type="text"/>
                </div>

                <button class="btn btn-primary" type="submit">Salvar</button>
            </form>
        </div>
    </section>
</th:block>
</body>
</html>